body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 80%;
}
.row-container {
  background-color: beige;
  border: 1px solid red; /* For debugging */
  display: flex;
  justify-content: space-between;
}

.block {
  border: 1px solid blue; /* For debugging */
  /* width: 100%; */
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  /* height: 50px; */
}

.block:hover {
  background-color: black;
}
